<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <br>
    <ion-input [(ngModel)]="document.data.titulo" name="titulo" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <br>
    <ion-input [(ngModel)]="document.data.descripcion" name="descripcion" type="text"></ion-input>
  </ion-item>

  <ion-button id="boton__borrado" *ngIf="!isNuevo" (click)="clicBotonBorrar()">Borrar tarea</ion-button>
  <ion-button *ngIf="!isNuevo" (click)="clicBotonModificar()">Modificar tarea</ion-button>
  <ion-button *ngIf="isNuevo" (click)="clicBotonInsertar()">Añadir tarea</ion-button>
  <ion-button [routerLink]="['/home']">Volver</ion-button>
  




</ion-content>