<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejemplo Tarea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ejemplo Tarea</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-label>Título</ion-label>
    <ion-input type="text" placeholder="Introduce el título de la tarea" class="campo-entrada" [(ngModel)]="tareaEditando.titulo"></ion-input>
    <ion-label>Descripción</ion-label>
    <ion-input type="text" placeholder="Introduce la descripción de la tarea" class="campo-entrada" [(ngModel)]="tareaEditando.descripcion"></ion-input>
    <ion-button (click)="clickBotonInsertar()">Añadir tarea</ion-button>
  </div>
</ion-content>